/* component */
.btn_guide{display:inline-block;border:1px solid #ddd;padding:10px 20px; font-size:16px;}

/* popup */
/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap; box-sizing: border-box;
    &.active{display:flex; 
        &.motion_end{
            .popup_box_item,
            .popup_container_item,
            .popup_bottomsheet_item,
            .popup_item{opacity:1;transform: translateY(0);}
            .bg_dim{opacity:.5;}
        }
    }

    &.full_type{
        align-items: flex-start;
        .popup_item{margin:0;border-radius:0;box-shadow: none; border:0;height:100%;max-height:100%; transform: translateY(0);}
        .popup_title_row{}
        .popup_contents_row{}
    }
    &.bottom_type{
        flex-direction: column;
        align-items: flex-end; justify-content: flex-end;
        .btn_popup_close{right:8px;}
    }
}
.popup_item{
    box-sizing: border-box;z-index:20; max-width:768px;margin:30px auto; max-height:calc(100% - 60px); background:#fff; border-radius:16px; border:1px solid #BBBBBB; position:relative; display:flex; flex-direction: column;
    -webkit-box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3); box-shadow: 2px 2px 14px 2px rgba(64,64,64,0.3);width:100%;opacity:0;transition:.4s; transform: translateY(-20%);
    &.no_transition{transition:0s;opacity:1;transform:none;}
}
.bg_dim{display:block;width:768px;height:100%;position:fixed;top:0;left:50%;z-index:0;background:#2c3035;opacity:0;transition:.5s opacity;transform: translateX(-50%);
    &.no_transition{transition:0s;opacity:.6;transform:none;}
}
.popup_title_row{flex:0 0 48px;padding:0 48px; display:flex; align-items: center; justify-content: center; gap:5px; text-align: center;
    & + .popup_contents_row{padding-top:0;}
    &.type2{
        justify-content: flex-start; padding:0 16px 0 20px; flex-basis:50px;
        .popup_title{font-size:20px;flex:1;}
    }
}
.popup_title_else_wrap{
    flex:0;display:flex; align-items: center; gap:8px; white-space: nowrap;
}
.popup_title{font-size:16px;color:#333;font-weight:700;letter-spacing: -0.05em;line-height:1.3;word-break: keep-all;}
.popup_contents_row{position:relative;overflow:hidden;overflow-y:auto;flex:1;font-size:14px;color:#333333;padding:20px 20px 50px;
    & + .popup_btn_row{padding-top:0;}
    > .board_item_list_wrap{margin:0;padding:0 0 0;}
    > .board_sort_field_wrap{margin:10px 0 0 0;}
    > .guide_board_box{margin:20px 0 0 0;}
    > .paging_wrap{margin-top:28px;}
    .clause_box,
    .clause_liquid_wrap{margin-left:0; margin-right:0;}
    .clause_liquid_wrap{margin-bottom:0;}
    
    &.api_render_wrap{padding:0;}
}
.popup_box_tb{display:table;width:100%;height:100%;table-layout: fixed;max-width:768px; margin:0 auto;}
.popup_box_td{display:table-cell;vertical-align: middle;padding:46px 0;}
.popup_box_item{
    max-width:280px; border-radius: 18px; box-sizing: border-box; width:100%; z-index:20;  background:#fff;  text-align: center; box-sizing: border-box; padding:13px;
    opacity:0;transition:.4s opacity; margin:30px auto; max-height:calc(100% - 60px);  position:relative;
}
.popup_container_item{
    max-width:320px; border-radius: 18px; box-sizing: border-box; width:100%; z-index:20;  background:#fff; display:flex; flex-direction: column; text-align: left; box-sizing: border-box; padding:13px;
    opacity:0;transition:.4s opacity; margin:30px auto;  max-height:calc(100% - 90px);  position:relative; 

    .popup_box_title_row{padding:10px 0 20px;}
}
.popup_bottomsheet_item{
    max-width:320px; max-height: calc(100% - 46px);  border-radius: 18px 18px 0 0; box-sizing: border-box; width:100%; z-index:20; max-width:768px; margin: 0 auto; background:#fff;display:flex; flex-direction: column; text-align: left; box-sizing: border-box;
    opacity:0;transition:.4s opacity; position:relative;  transform: translateY(100%);position:relative; transition:.4s;
}

.popup_bottomsheet_content_row{ flex:1; overflow:hidden; overflow-y: auto;  padding:25px 20px; 
    .popup_box_title_row{padding-top:0;}
    .popup_box_content_row{padding:0;}
    .popup_box_btn_row{padding:27px 0 0}
}

.btn_bottom_submit{display:flex;align-items: center; justify-content: center; background:#c4d700; min-height:54px; box-sizing: border-box;color:#1d1d1d;font-size:17px;font-weight:600;border-radius:6px; width:100%; }

.popup_box_content_row{padding:0 27px 27px;
}
.popup_box_liquid_row{padding:0 13px 27px; flex:1; overflow:hidden; overflow-y: auto;
}
.popup_box_message{font-size:16px;color:#1d1d1d;font-weight:500;letter-spacing: -0.05em;line-height:1.5; text-align: center; word-break: keep-all;
}
.popup_box_message_empbox{background:#EEEEEE;border-radius:8px;padding:12px; text-align: center;font-size:14px; color:#999999; line-height:1.4;margin-top:12px;}
.popup_box_mesage_img{
    margin-top:24px;
    img{vertical-align: top;
        &.map_img{max-width:120px;}
    }
}

.popup_box_title_row{padding:15px 0 30px;text-align: center;}
.popup_box_title{
    font-size:19px; font-weight:700; position:relative; display:inline-block;
    &:before{display:block;content:'';width:100%;border-radius:100px; background:#e1eb7f; position:absolute;bottom:-2px;left:0; height:13px;}
}
.popup_box_title_text{display:inline-block;position:relative;z-index:1;padding:0 8px;}

.popup_box_btn_row{display:flex;gap:12px; flex:0; 
    &.type2{
        flex-direction: column;
    }
}
.btn_popup_submit{
    flex:1;display:flex; justify-content: center; align-items: center;  border-radius:7px; min-height:50px; box-sizing: border-box;
    &.primary{background-color:$primary; }
    &.type2{background-color:#363636; 
        .btn_popup_submit_text{color:#fff;}
    }
}
.btn_popup_submit_text{ font-size:16px; color:#1d1d1d; display:inline-block; font-weight:700;}



.popup_btn_row{flex:0;padding:26px;display:flex;justify-content: center; position:relative; box-sizing: border-box;
    &:after{display:block;content:'';width:calc(100% - 10px);height:26px; position:absolute;top:-26px;left:0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,0) 100%);
    }
    &.type2{
        padding:0;
        &:after{display:none;}
    }
}
.btn_popup_box{display:flex; width:100%; justify-content: center; align-items: center;border-top:1px solid #ddd;box-sizing: border-box; min-height:60px; padding:10px;} 
.btn_popup_box_text{display:inline-block; font-size:16px; line-height:1.3;font-weight:700;}
.btn_popup_close{display:inline-block;width:33px;height:33px;position:absolute;top:-38px;right:0;
    background:url("../images/btn_circle_close.png") no-repeat 50% 50%/100% auto;
}

.popup_box_article{
    font-size:14px; color:#999999;  text-align:left; line-height:1.4;
    *{font-size:14px; color:#999999;}
}
.popup_box_substance{
    font-size:14px; color:#999999;  text-align:left; line-height:1.4; text-align: center;
    *{font-size:14px; color:#999999;}
}
.popup_box_props_row{
    margin-top:24px;text-align:left;
    .props_item{}
}


@media (max-width:$mobile) {
    .bg_dim{width:100%;left:0;transform: translateX(0);}
    .popup_wrap{
        &.full_type{
            .popup_item{width:100%; max-width:100%;}
        }
    }

    .popup_box_tb{}
    .popup_box_td{padding:46px 30px;}

    .popup_box_item{max-width:100%;width:100%;}
    .popup_container_item{margin:0 20px;}
}
@media (max-width:360px) {
}
@media (orientation: landscape) {
    /* 가로 방향 스타일 */
    .popup_container_item{

        max-height:calc(100% - 70px); top:10px;
    }
}
/* // 공통 popup */


/* form element */
select.form_select{color:#232a35;cursor:pointer;font-size:14px; font-weight:500; border:0;height: 48px;padding: 0 50px 0 17px;border-radius:6px;box-sizing:border-box; width:100%;
    background: #f6f6f7 url("../images/ico_direct_down.png") no-repeat calc(100% - 20px) 50%/17px auto;line-height:48px;-webkit-appearance:none;-moz-appearance:none;appearance:none;
    &::-ms-value {background: none; color:#232a35;}
    &::-ms-expand {display: none;}
}
.props_item{display:inline-flex;gap:8px;}
input.props_form{
    appearance: none; display:inline-block; width:18px;height:18px; background:url("../images/ico_checkbox2.png") no-repeat 0 0/100% auto; flex:0 0 18px;
    &:checked{
        background-position:0 100%;
        & + .props_label{}
    }
}
.props_label{font-size:14px;color:#232323; font-weight:600; padding-top:1px;}