/* intro */
.btn_intro_bottom{}
.btn_intro_box{display:flex;align-items: center; justify-content: center; background:#c4d700; min-height:60px; box-sizing: border-box;color:#1d1d1d;font-size:17px;font-weight:600;border-radius:6px;}

/* copy */
.middle_copy_wrap{margin-bottom:35px;}
.middle_copy_main{display:flex; flex-wrap : wrap; gap:4px; align-items: flex-end; 
    &:after{display:flex;content:'';width:5px;height:5px; background:#c4d700; border-radius:100%; position:relative; top:-3px;}
}
.copy_main_text{font-size:21px; color:#232323; font-weight:700;}
.middle_copy_sub{margin-top:15px; font-size:14px; color:#232323; font-weight:600;}

/* terms */
.terms_each_block{
    margin-bottom:25px; line-height:1.5;
    &:last-of-type{margin-bottom:0;}
}
.terms_each_para{color:#1d1d1d;font-size:15px;font-weight:600;}
.terms_each_cont{color:#1d1d1d;font-size:14px;}
.terms_docu{color:#1d1d1d; line-height:1.4;}
.terms_docu_title{font-size:17px; margin-bottom:20px; color:#1d1d1d; line-height:1; font-weight:700;}
.terms_docu_block_wrap{}
.terms_docu_block{
    margin-bottom:30px;
    &:last-of-type{margin-bottom:0;}
}
.terms_onedep_title{font-size:14px; color:#1d1d1d; font-weight:600;margin-bottom:5px;}
.terms_cont_para{ color:#1d1d1d; font-size:12px;margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
}
.terms_twodep_title{ color:#1d1d1d; font-size:12px;  font-weight:600;margin-bottom:5px;}


/* img message */
.visual_message_wrap{padding:12% 20px 0;text-align: center;
    &.type2{
        padding-top:0;
    }
    
    & + .survey_item_list_wrap{margin-top:25px;}
}
.visual_title_row{margin-bottom:50px;
    &.type2{margin-bottom:20px;}
}
.visual_title{
    position:relative; display:inline-block;
    &:before{display:block;content:'';width:calc(100% + 30px); position:absolute;bottom:-3px;left:-15px;background:#dbe67c; height:17px; border-radius:100px;}
}
.visual_title_text{font-size:20px; font-weight:700; display:inline-block;position:relative;}
.visual_title_row{}
.visual_message_copy{font-size:14px; color:#2f59d9; font-weight:600;}
.visual_message_img{
    max-width:222px;margin:0 auto;
    img{vertical-align: top;}
}
.visual_message_spec{padding-top:40px; font-size:19px; line-height:1.7;}
.visual_message_spec_para{
    strong{font-weight:700; color:#1d1d1d;}
}
.visual_message_spec_emp{font-weight:700; color:#1d1d1d;}
.visual_contents_row{

}
.visual_message_copy{}

/* data */
.data_list_wrap{}
.data_list{
    > li{
        padding-bottom:20px;margin-bottom:20px; border-bottom:1px solid #c0c1c3;
        &:last-of-type{padding-bottom:0;margin-bottom:0;border-bottom:0;}
        & + .nodata_li{
            padding-top:10px;
            .nodata_para{}
        }
    }
}
li{
    &.nodata_li{
        padding:30px 20px; text-align: center;
        .nodata_para{font-weight:600;color:#5f5f5f; font-size:14px;opacity:.7;}
    }
}
.data_item{}
.data_keyword{font-size:14px;color:#1d1d1d; @include clamp(1);margin-bottom:7px; line-height:1.3;}
.data_main{font-size:18px;color:#1d1d1d; @include clamp(2); font-weight:700; line-height:1.3;}
.data_else{font-size:12px; color:#9e9e9e;  @include clamp(1); margin-top:5px; line-height:1.3;}
.line_hr{
    border-bottom:1px solid #c0c1c3; padding-bottom:20px;margin-bottom:20px;
}
.data_fraction_wrap{
    box-shadow: 0px 0px 14.72px 1.28px rgba(158, 158, 158, 0.2); background:#fff;
    border:1px solid #e0e0e0; border-radius:6px; position:relative; overflow:hidden;
}
.frac_tb{
    width:100%;
      
    thead{
        tr{
            th{background:#f9fbe5;border-bottom:1px solid #c2c3c4;padding:13px;}
        }
    }
    tbody{
        tr{
            &:last-of-type{
                td{border-bottom:0;}
            }
        }
        td{
            border-bottom:1px solid #c2c3c4; padding:13px;
            & + td{border-left:1px solid #e6ee91;}
            &.define_num{background:#fcfdf2;width:1px;}
            .num{color:#a2b200; font-weight:600;}
        }
    }
}
.frac_title{font-size:15px;color:#1d1d1d; font-weight:600; text-align: center;}
.linkage_obj{text-align:left;display:flex;justify-content: space-between; gap:15px;line-height:1.5;align-items: center;}
.linkage_main{flex:1;min-width:0;@include clamp(1); font-size:13px;color:#1d1d1d; font-weight:500;}
.linkage_else{flex:0;white-space: nowrap; font-size:11px; color:#9e9e9e;}
.btn_block_wrap{
    .btn_bottom_box{}
}
.data_box_list_wrap{}
.data_box_list{
    > li{
        margin-bottom:15px;
        &:last-of-type{margin-bottom:0;}
    }
}
.data_box_item{display:block;background:#fff;border-radius:8px;padding:18px 10px;
    box-shadow: 0px 0px 18.27px 2.73px rgba(211, 211, 211, 0.58);line-height:1.3;
}
.dara_box_tr{
    margin-bottom:5px; display:flex; justify-content: space-between; align-items: center; gap:15px;
    &:last-of-type{margin-bottom:0;}
    &.key{}
    &.primary{align-items: flex-start;}
    &.summary{margin-top:12px;}
}
.lk_key,
.lk_message,
.lk_primary,
.lk_captions,
.lk_current{font-size:12px;display:inline-block;}
.lk_key{color:#1d1d1d; @include clamp(1);}
.lk_message{font-size:12px;color:#9e9e9e;}
.lk_primary{font-weight:700; font-size:15px;@include clamp(2);}
.lk_captions{color:#9e9e9e; @include clamp(1);}
.lk_current{color:#2f59d9; font-weight:900;}
.report_box_list_wrap{}
.report_box_list{
    > li{
        margin-bottom:15px;
        &:last-of-type{margin-bottom:0;}
    }
}
.report_box{
    display:block; border-radius:8px;background:#f3f7cc url("../images/ico_direct_link.png") no-repeat calc(100% - 17px) 50%/21px auto; padding:15px 50px 15px 15px; position:relative;
    &:after{}
}
.report_keyword{font-size:12px;color:#1d1d1d; font-weight:500; margin-bottom:6px;}
.report_primary{font-size:15px; color:#1d1d1d; font-weight:700; @include clamp(1);}
.report_else{margin-top:10px; font-weight:500; color:#a2b200; @include clamp(1);}

.board_sort_row{margin-bottom:20px;}
.board_tb_render{}
.board_tb_wrap{border-top:1px solid #b3b4b5;}
.board_tb{
    width:100%;
    thead{
        tr{
            th{
                background:#f4f4f4; border-bottom:1px solid #b3b4b5; padding:13px;
                &.type2{background:#ededed;}
                :last-of-type{}
            }
        }
    }
    tbody{
        tr{
            td{
                border-bottom:1px solid #b3b4b5; padding:13px;
                &.type2{
                    background:#f7f7f7;
                }
                &.nodata_td{
                    padding:100px 20px;
                }
                &.has_primary{
                    text-align: left;
                }
                &:last-of-type{}
            }
        }
    }
    .no_break{width:1px;white-space: nowrap;}
}

.nodata_para{font-size:14px; line-height:1.4;}

.board_thtext,
.board_tdtext,
.board_tdlink{display:inline-block; font-size:14px; line-height:1.4;}
.board_thtext{font-weight:600;}
.board_tdtext{font-weight:500;}
.board_tdlink{@include clamp(1);}

.result_list_render{background:#f3f5f9;padding:20px;}
.result_title_row{margin-bottom:25px;}
.result_title{font-size:15px; color:#5f5f5f; font-weight:600;}
.result_data_list_wrap{}
.result_data_list{
    > li{
        margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #b3b4b5;
        &:last-of-type{border-bottom:0;padding-bottom:0;margin-bottom:0;}
        &.nodata_li{
            padding: 50px 20px 50px;
            .nodata_para{}
        }
    }
}
.result_data{display:block;}
.result_main_para{font-size:18px; color:#2f59d9; font-weight:700;}
.result_summary_para{
    font-size:15px;color:#1d1d1d; font-weight:700;margin-top:5px;
    &.type2{font-size:14px; color:#5f5f5f;}
}

.liquid_item_wrap{margin-bottom:40px;}
.liquid_item{
    margin-bottom:22px;
    &:last-of-type{margin-bottom:0;}
}
.liquid_title_row{margin-bottom:15px;
    &.mbtype2{
        margin-bottom:10px;
    }
    .indent_list{margin:5px 0 0 20px;}
}
.liquid_title{
    font-size:16px; font-weight:600; padding-left:17px; position:relative;
    &:before{
        display:block;content:'';width:8px;height:8px;background:#c4d700; position:absolute;top:7px;left:0; transform: rotate(45deg);
    }
}
.liquid_contents{
    .cbox{padding:0 18px;
        &.type2{padding:0;}
        &.type3{padding:15px 15px 0 0;}
        &.type4{padding:10px;}
        &.type5{padding:15px 10px 15px 0;}
    }
}
.cbox_group{}
.cbox{
    background-color: rgb(255, 255, 255);   border-radius: 6px; position:relative; overflow:hidden;
    box-shadow: 0px 0px 14.72px 1.28px rgba(158, 158, 158, 0.2);
    border: 1px solid #e0e0e0;
    margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
}
.data_grid_list{
    display:table;width:100%;  box-sizing: border-box;
    > li{
       display: table-row;
        &:last-of-type{
            .data_grid_key_cols,
            .data_grid_value_cols{border-bottom:0;}
        }
        &.align2{
            .data_grid_key_cols,
            .data_grid_value_cols{vertical-align: top;}
            .data_grid_value_cols{padding:15px 0;}
        }
    }
    &.type2{
        padding:8px 18px;
        .data_grid_key_cols,
        .data_grid_value_cols{border-bottom:0;padding:8px 0;}
        .data_grid_key_cols{padding-right:14px;}
    }
}
.data_grid_key_cols,
.data_grid_value_cols{display:table-cell;vertical-align: middle;border-bottom:1px solid #c2c3c4;}
.data_grid_key_cols{display:table-cell;padding:15px 0;vertical-align: middle;width:1px; white-space: nowrap;padding-right:20px;}
.data_grid_key{font-size:14px;color:#1d1d1d; font-weight:600;}
.data_grid_value_cols{display:table-cell;vertical-align: middle;padding:10px 0;}
.data_grid_value{color:#1d1d1d; font-size:14px;}
.btn_control_box_wrap{
    text-align: right; margin-top:10px;
    .btn_control_box{}
}
.between_data_wrap{
    display:flex; justify-content: space-between; align-items: center;
    .data_grid_value{}
}
.data_grid_else_wrap{
    .btn_control_box{}
}
.btn_control_box{background:#edf3b2; font-size:14px; color:#a2b200; font-weight:600; padding:10px 15px; white-space:nowrap; line-height:1; display:inline-block; border-radius:6px;}
.hor_data_tb_wrap{}
.hor_data_tb{
    width:100%;
    thead{
        tr{
            &:last-of-type{}
            th{
                background:#f9fbe5; border-bottom:1px solid #c1c2bf; padding:12px;
                &:first-of-type{padding-left:18px;}
                &:last-of-type{padding-right:18px;}
            }
            .fixed{
                width:1px; white-space: nowrap;
            }
            &.emp{
                th{
                    
                }   
            }
        }
    }
    tbody{
        tr{
            &:last-of-type{
                td{border-bottom:0;}
            }
            td{
                border-bottom:1px solid #c2c3c4; padding:12px; position:relative;
                &:first-of-type{padding-left:18px;
                    &:after{display:block;content:'';width:17px;height:2px;position:absolute;bottom:-1px;left:0;background:#fff;}
                }
                &:last-of-type{padding-right:18px;
                    &:after{display:block;content:'';width:17px;height:2px;position:absolute;bottom:-1px;right:0;background:#fff;}
                }
                &.has_title{
                    text-align: left;
                }
            }
            .fixed{
    
            }
            &.emp{
                *{color:#2f59d9; font-weight:700; }
            }
        }
    }
    .hor_thtext{font-size:13px; color:#1d1d1d; font-weight:600; display:inline-block;}
    .hor_tdtext{font-size:13px; color:#1d1d1d; font-weight:600; display:inline-block;}
}
.caption_item_list{
    margin-bottom:20px;
    > li{
        margin-bottom : 10px; display:flex; align-items: center; gap:12px;
        &:last-of-type{margin-bottom:0;}
    }
}
.caption_liquid{flex:1; font-size:12px;color:#2f59d9; font-weight:600; padding:10px; background:#dee6ff; border:1px solid #2f59d9; border-radius:6px; text-align: center;}
.caption_fixed{
    flex:0;
}
.btn_ico_qus{display:inline-block;width:15px;height:15px; background:url("../images/ico_qus.png") no-repeat 50% 50%/100% auto;}

.bar_chart_list_wrap{margin-top:15px;}
.bar_chart_list{
    width:100%; display:table;
    > li{
        display:table-row;
        > *{display:table-cell; vertical-align: middle;padding-right:7px;padding-bottom:12px;
            &:last-child{padding-right:0;}
        }
        &:last-of-type{
            > *{padding-bottom:0;}
        }
    }
}
.bc_chart_key{ width:1px; white-space: nowrap;}
.bc_chart_label{font-size:14px;color:#1d1d1d; font-weight:600;}
.bc_chart_render{padding:0 14px;}
.bc_chart_wrap{height:10px; background:#e7e9ec; position:relative; border-radius:100px; overflow:hidden;}
.bc_chart{position:absolute;top:0;left:0;height:100%; border-radius:100px; background:#cbdb2f;}
.bc_chart_fraction{text-align: right; width:1px; white-space: nowrap;}
.bc_chart_fractext{font-size:12px; color:#1d1d1d; line-height:1; display:inline-block; font-weight:600;}
.bc_chart_btn{
    width:1px; white-space: nowrap;
    .btn_ico_qus{position:relative;top:1px;}
}
.board_gate_message_list{
    > li{
        &:last-of-type{}
    }
    & + .board_view_tb_wrap{margin-top:15px;}
}
.board_data_message{
    font-size:14px; font-weight:600; padding-left:15px; position:relative;
    &:before{
        display:block;content:'';width:8px;height:8px;background:#c4d700; position:absolute;top:5px;left:0; transform: rotate(45deg);
    }
}
.board_view_tb_wrap{
    border-top:2px solid #b3b4b5;
}
.board_view_tb{
    width:100%; background:#fff;
    th,td{border-bottom:1px solid #b3b4b5;padding:12px 15px;}
    th{background:#f9fbe5;width:60px;text-align: center; white-space: nowrap;}
    td{text-align: left;}
}
.board_view_label{font-size:14px;color:#1d1d1d; font-weight:600; line-height:1; white-space:nowrap;}
.board_view_render{font-size:14px; color:#1d1d1d; line-height:1.4;}


/* form */
.form_gate_message_wrap{margin-bottom:42px;}
.form_gate_message{
    color:#232323; font-size:19px; font-weight:500; line-height:1.5;
    strong{font-weight:900;}
}
.emp_mdot{background-color:#c4d700;width:8px;height:8px;border-radius: 100%; display:inline-block; margin-left:5px;position:relative;top:1px;}
.inline_grid_list{display:flex;align-items: center; gap:10px;}
.inline_liquid_cols{
    flex:1; min-width:0; 
    input.form_input{}
}
.inline_fixed_cols{
    flex:0; white-space: nowrap;
}
.btn_action_box{
    display:inline-flex; align-items: center; justify-content: center; color:#fff; font-weight:600; background:#363636; line-height:1; border-radius: 6px; min-height:50px; white-space: nowrap; padding:0 20px; text-align: center;
    &:disabled{ background:#e1e1e1; color:#5f5f5f;}
    &.skin2{background:#e1eb7f; color:#1d1d1d;}
}
.form_list_wrap{}
.form_list{
    &.gap_type2{
        > li{
            margin-bottom:35px;
            &:last-of-type{margin-bottom:0;}
        }
    }
    > li{
        margin-bottom:20px;
        &:last-of-type{margin-bottom:0;}
    }
}
.form_item{}
.form_item_label_row{margin-bottom:10px;}
.form_item_label{font-size:14px;color:#5f5f5f; font-weight:500;}
.form_item_contents{}
input.form_input{background:#f6f6f7; appearance: none; padding:0 15px; height:48px; border:1px solid #f6f6f7; border-radius:6px; line-height:1; width:100%; box-sizing: border-box; font-weight:600; color:#1d1d1d;
    &.warn{
        border-color:#2f59d9;
    }
    &.size2{
       height:35px;font-size:12px;padding:0 12px;
    }
}
.control_item_list{
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
    }
}
.control_item{display:flex; align-items: center; justify-content: space-between; gap:20px;}
.control_key_cols{}
.control_key{font-size:16px; line-height:1.3; font-weight:500;}
.control_value_cols{}
input.props_motion{appearance: none;width:42px;height:21px;background:url("../images/ico_radio_motion.png") no-repeat 0 100%/100% auto; cursor: pointer;
    &:checked{background-position:0 0;}
}
.form_field_container{}
.form_field_title_row{text-align: center;margin-bottom:35px;}
.form_field_title{font-size:21px; color:#1d1d1d; font-weight:700; }
.form_field_contents{}
.field_item_list{
    > li{
        margin-bottom:20px;
        &:last-of-type{margin-bottom:0;}
    }
    input.form_input{padding:0 15px;}
}
.field_else_row{
    margin-top:20px; display:flex; justify-content: space-between; align-items: center;
    .props_item{}
}
.field_else_cols{
    &:last-of-type{}
}
.field_else_item_list{
    > li{}
}
.field_else_item{
    display:inline-block; position:relative; padding-right:18px; font-size:14px; color:#232323; line-height:1; font-weight:600;
    &:after{
        display:block;content:''; width:6px;height:6px; border-right:2px solid #a2b200; border-bottom:2px solid #a2b200;
        position:absolute;top:2.5px;right:3px; transform: rotate(-45deg);
    }
}
.btn_field_submit_wrap{
    margin-top:48px;
    .btn_bottom_box{}
}
.field_other_form_wrap{
    margin-top:36px; text-align: center;
}
.field_other_title_row{
    position:relative;
    &:before{display:block;content:'';background:#dddddd;width:100%;height:1px;position:absolute;top:50%;left:0;transform: translateY(-50%);}
}
.field_other_title{position:relative; font-size:14px; padding:0 15px; font-weight:500; color:#707070; background:#fff; display:inline-block; }
.field_sns_list_wrap{
    padding:27px 0 45px;
}
.field_sns_list{
    display:flex; flex-wrap:wrap; gap:20px; justify-content: center;
    > li{}
}
.field_sns{
    display:inline-block;width:35px;height:35px; border-radius: 100%; background-repeat:no-repeat; background-size:100% auto; background-position:50% 50%;
    &.apple{background-image:url("../images/ico_sns_apple.jpg");}
    &.naver{background-image:url("../images/ico_sns_naver.jpg");}
    &.kakao{background-image:url("../images/ico_sns_kakao.jpg");}
}
.field_other_obj_wrap{text-align: center;}
.field_other_obj{display:flex; align-items: center; justify-content: center; gap:14px;}
.field_other_key{font-size:14px; font-weight:700; color:#232323;}
.field_other_value{font-size:14px; font-weight:700; color:#232323;}
.btn_field_textlink{color:#a2b200;font-size:14px; font-weight:700;display:inline-block;}
.btn_bottom_static_wrap{
    margin-top:55px;
    &.type2{
        margin-top:20px;padding-top:20px; border-top:1px solid #c0c1c3;
    }
    &.mtype2{
        margin-top:40px;
    }
    .btn_bottom_box{}
}

.form_inline_copy_wrap{margin-top:10px;display:none;
    &.active{display:block;}
}
.form_guide_copy{font-size:12px; color:#2f59d9; font-weight:600;}

.terms_props_wrap{margin-top:40px;}
.terms_total_props_row{margin-bottom:10px;}
.terms_detail_list_wrap{border:1px solid #b3b4b5; border-radius:6px; padding : 20px;}
.terms_detail_list{
    > li{
        margin-bottom:12px; display:flex; justify-content: space-between; align-items: center;
        &:last-of-type{margin-bottom:0;}
    }
}
.terms_detail_liquid{
    .props_item{}
}
.terms_detail_fixed{}
.btn_terms_go{display:block;width:17px;height:17px;background:url("../images/ico_direct_link.png") no-repeat 50% 50%/100% auto; flex:0 0 17px;}
.form_inline_btn_wrap{margin-top:10px; display:flex; flex-wrap:wrap; gap:7px;}
.btn_form_inline{
    font-size:14px; background:#e1e1e1; color:#5f5f5f; font-weight:600; border-radius:6px; min-width:100px; display:inline-flex; align-items: center; justify-content: center; min-height:37px; padding:10px 15px; box-sizing: border-box;
    &.primary{ background:#edf3b2; color:#a2b200;}
}
.profile_wrap{
    & + .form_list_wrap{margin-top:35px;}
}
.profile_item{text-align: center;}
.profile_thum{
    width:85px;height:85px;position:relative;overflow:hidden; background:#f6f6f7; border-radius:22px; margin:0 auto;
    img{width : 100%; height:100%; object-fit: cover; object-position:50% 50%;}
}
.proflie_spec{font-size:14px;color:#5f5f5f; font-weight:500; margin-top:5px;}
.form_block_list{
    &.gap_type2{
        > li{
            margin-bottom:8px;
            &:last-of-type{margin-bottom:0;}
        }
    }
    > li {
        margin-bottom:10px;
        input.form_input{}
        &:last-of-type{margin-bottom:0;}
    }
}
.form_block_fxwrap{display:flex; align-items: center; gap:12px;
    input.form_input{flex:1;}
}
.btn_form_box{
    display:block; width:15px;height:15px; background:url("../images/ico_input_reset.png") no-repeat 50% 50%/100% auto;
    &.ico_delete{

    }
}
.btn_control_smbox{
    display:block; width:15px;height:15px; background:url("../images/ico_input_reset.png") no-repeat 50% 50%/100% auto;
    &.ico_delete{

    }
}

.props_item_list{
    display:flex; flex-wrap:wrap; gap:8px 25px;
    > li{
        .props_item{}
    }
}
.form_item_props_row{
    margin-bottom:5px;
    .props_item{}
}
.form_item_title_row{
    margin-bottom:10px;
}
.form_item_title{font-size:18px;color:#1d1d1d; font-weight:700;}

.survey_item_list_wrap{}
.survey_item_list{
    > li{
        margin-bottom:30px;
        &:last-of-type{margin-bottom:0;}
    }
}
.survey_key_row{margin-bottom:15px;}
.survey_key{
    font-size:16px; font-weight:600; padding-left:17px; position:relative;
    &:before{
        display:block;content:'';width:8px;height:8px;background:#c4d700; position:absolute;top:7px;left:0; transform: rotate(45deg);
    }
}
.survey_value_row{margin:0 0 0 17px;}
.props_block_list{
    > li{
        margin-bottom:10px;
        &:last-of-type{margin-bottom:0;}
        .props_item{}
    }
}
table.rp_tb{
    width:100%; box-sizing: border-box; 
    tr{
        &:last-of-type{
            th,td{padding-bottom:0;}
        }
    }
    th,td{padding-bottom:7px;vertical-align: top;}
    th{width:1px; white-space: nowrap;padding:9px 10px;}
    td{
        input.form_input{height:35px;font-size:12px;padding:0 12px;}
    }
}
.rp_key{display:block; font-size:12px; font-weight:600; text-align: justify;}
.inline_form_wrap{display:flex;align-items: center;gap:10px;}
.inline_form_cols{
    flex:1; min-width:0; align-items: center;
    &.else{flex:0;text-align: center;}
    input.form_input{}
}
.inline_else_form{display:inline-block;font-size:14px;color:#5f5f5f;line-height:1;}
.td_block{
    margin-bottom:8px;
    &:last-of-type{margin-bottom:0;}
}
.inline_obj_form{display:flex; align-items: center;gap:8px;
    &.elsewid{max-width:80%;}
}
.inline_key_cols{
    flex:1;
    .form_input{}
}
.inline_btn_cols{
    flex:0; white-space: nowrap; 
}
.btn_inline_box{display:inline-flex; justify-content: center; align-items: center; min-height:35px; padding:0 15px; background:#edf3b2; border-radius:6px; color:#a2b200; white-space: nowrap;font-size:12px; font-weight:600;}

/* view */
.view_tb_wrap{}
.view_tb{
    width:100%;border-bottom:1px solid #b3b4b5; line-height:1.5;
    th,td{border-top:1px solid #b3b4b5;padding:12px 18px;}
    th{width:27%; white-space: nowrap;background:#f7f7f7;text-align: center;}
    td{text-align: left;vertical-align: top;}
}
.view_thtext{font-size:14px; color:#1d1d1d; white-space: nowrap; display:inline-block; font-weight:600;}
.view_tdtext{font-size:14px; color:#1d1d1d; }
.view_td_render{font-size:14px; color:#1d1d1d; }

.indent_list{
    font-size:13px;
    > li {
        display:flex; gap:5px;
    }
}
.indent_bullet{flex:0; white-space: nowrap;}
.indent_liquid{flex:1;}

.cbox_fxwrap_wrap{}
.cbox_fxwrap{
    display:flex; gap:8px; margin-bottom:8px; align-items: center;
    > .cbox{flex:1;min-width:0;margin-bottom:0;}
    &:last-of-type{margin-bottom:0;}
}
.cbox_fx_cols{flex:0;}