/* intro */
.btn_intro_bottom{}
.btn_intro_box{display:flex;align-items: center; justify-content: center; background:#c4d700; min-height:60px; box-sizing: border-box;color:#1d1d1d;font-size:17px;font-weight:600;border-radius:6px;}