/* layout */
html{
    &:not(.touchmode){
        ::-webkit-scrollbar {width: 10px;}
        ::-webkit-scrollbar-thumb {background-color: #ccc;border-radius: 10px;background-clip: padding-box;border: 2px solid transparent;}
        ::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;box-shadow: inset 0px 0px 5px transparent;}
    }
}


body{overflow-x:hidden;}

.page_wrap{
    position:relative; min-height:100vh; display:flex;flex-direction: column; box-sizing: border-box;
}
.header_wrap{
    position:fixed;top:0;left:0;width:100%;
    &.skin2{
        .header_inner{box-shadow: none;}
    }
}
.header_inner{box-shadow: 0px 0px 18.27px 2.73px rgba(158, 158, 158, 0.4); position:relative; max-width:768px; margin:0 auto; border-radius:0 0 20px 20px;display:flex;align-items: center;justify-content: center;min-height:60px; box-sizing: border-box;}
.header_layer{
    position:absolute;top:0;height:100%; display:flex; align-items: center; padding:0 20px; 
    &.left{left:0;}
    &.right{right:0;}
}
.btn_back{display:block;width:18px;height:18px;background:url("../images/ico_back.png") no-repeat 50% 50%/100% auto;}
.header_title{height:100%; display:flex; align-items: center; box-sizing: border-box; padding:10px;}
.header_title_text{font-size:18px; font-weight:600;}
.header_logo{height:100%; display:flex; align-items: center; box-sizing: border-box; padding:10px;}
.header_logolink{
    max-width:70px;text-align:center;
    img{max-width:100%;vertical-align: middle;}
}

.middle_wrap{padding:23px 20px 0; flex:1; width:100%;box-sizing: border-box; height:100%;
    &.mbtype2{
        padding-bottom:60px;
    }
}
.middle_inner{max-width:768px; margin:0 auto; display:flex; flex-direction: column; box-sizing: border-box;}

.bottom_layer_wrap{position:fixed;bottom:0;left:0;width:100%;z-index:20;}
.bottom_layer_inner{ max-width:768px; margin:0 auto; }

.bottom_top_row{height:0; position:relative;}
.btn_topgo{box-sizing: border-box; background:#fff; width:48px;height:48px; display:flex; gap:3px; justify-content: center; align-items: center; flex-direction: column; border:2px solid #2f59d9; border-radius:100%;

    box-shadow: 0px 3px 5px 0 rgba(132, 133, 139, 0.31); position:absolute;bottom:20px;right:20px;
    &:before{display:block;content:'';width:18px;height:18px; background:url("../images/ico_goto.png") no-repeat 50% 50%/100% auto;margin:0 auto;}
}
.btn_topgo_text{font-size:9px;color:#2f59d9;line-height:1;font-weight:500;}